.numberCard {
  padding: 2vw;
  outline: 0;
  width: 16vw;
  display: inline-block;
  height: 16vw;
  margin-left: 1vw;
  background-color: rgb(78, 114, 216);
  color: white;
  border-radius: .5vw;
  box-shadow: -.3vw .3vw rgb(44, 44, 44);
  vertical-align: top;
  margin-bottom: 1vw;
  transition: transform 0.25s;
  text-align: left;
}

.numberCard:hover {
  transform: translate(.3vw, -.2vw);
}

.untaken {
  background-color: rgb(85, 85, 85);
}

.bodyDiv {
  padding-top: 5vw;
}

.centerText {
  width: 100vw;
  text-align: center;
}

.softText {
  font-size: .8vw;
}

.red {
  background-color: rgb(226, 94, 79);
}

.blue {
  background-color: rgb(78, 114, 216);
}

.orange {
  background-color: rgb(255, 153, 0);
}

.green {
  background-color: rgb(103, 177, 107);
}

.purple {
  background-color: rgb(129, 103, 177);
}

.pink {
  background-color: rgb(206, 146, 201);
}

.salmon {
  background-color: rgb(231, 133, 133);
}

a.whiteLink {
  color: white;
}

a.whiteLink:hover {
  color: white;
}

.trivia {
  width: 70vw;
  margin-left: 15vw;
  font-size: 1vw;
  text-align: center;
}

.customFormGroup {
  width: 50vw;
  margin-left: 25vw;
}

.backButton {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: 1.5vw;
}

a.black {
  color: black;
}

a.black:hover {
  color: black;
}

.garden {
  width: 20vw;
  position: absolute;
  bottom: 0vw;
  right: 0vw;
}